* {
  box-sizing: border-box;
}



body {
  
  position: static;
  background-image: url('https://media.tenor.com/images/f047df15315c12e886d55b68a468e511/tenor.gif');
  background-size: auto;
  background-position: bottom right;
  background-repeat: no-repeat;
  
  
}

canvas {
  width: 200px;
  height: 200px;
}




.results-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
  position: sticky;
  
}


#play-again {
  
  background-color: transparent;
    border: none;
    color: #81b29a;
    outline:none;
    width: 200px;
    padding: 10px;
    margin-top: 30px;
    border: 3px solid #3D7DCA;
    font-family: 'VT323', monospace;
    border-radius: 50px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-again:hover {
  transform: skew(-10deg);
  border: 4px solid #003A70;
  
    
}

table {
  justify-content: center;
  align-items: center;
  width: 600px;
  height: auto;
  border: 1px solid black;
  border-collapse: collapse;
  border-bottom: 1px solid #003A70;
  width: 40%;
  color: #003A70;
  font-family: 'VT323', monospace;
  position: sticky;
 
  
}

tr img {
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}

th {
  color:#FFCB05;
}

td {
  text-transform: uppercase;
}




